*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color:black;
  color: white;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}


.logo {
  font-size: 45px;
  
  padding-left: 40px;

}


ul{
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 30px;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.link{
  color:#ffc305;
  text-decoration: none;
}
.btn{
  padding: 10px;
}

.link:hover{
  color:crimson;
}

.bt:hover{
  color: black;
  background-color:#ffc305;
}
.bt{
  padding: 10px;
  font-size: 20px;
 border: 5px  rgb(10, 10, 10) solid;
 background-color:#c70039;
  color: rgb(7, 7, 7);
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.hero{
  display: flex;
  margin-left:15% ;
  margin-right: 5%;
  margin-top: 5%;
}
.btn{
display: flex;
justify-content: center;
align-items: center;

}
.bt1{
  padding: 20px;
  font-size: 25px;
 border: 5px  rgb(10, 10, 10) solid;
 background-color:#c70039;
  color: black;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

.bt1:hover{
  background-color:#ffc305
}
.info-div{
  margin-left: 40px;

}

.img-div{
  width: 10px;
  height: 10px;
  
  
  
  
}
.img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
  border: #ffc305 2px solid;
  
  
  
  
}

.name{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 100px;
  color:#ffc305;
  margin-top: 100px;
  margin-right: 300px;
}
h1{
  font-size: 70px;
  
  margin-right: 100px;
  margin-left: 200px;
}


h1:hover{
color:#c70039;
}
.bt-li{
text-decoration: none white;
flex-wrap: wrap;
color: black;
display: flex;
justify-items: center;
align-items: center;

}

.heading{
  font-size: 40px;
  color:#ffc305;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 100px;
  
}
.img1{
  width: 300px;
  height: 300px;
  border-radius: 10%;
  margin-left: 38%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: #ffc305 2px solid;
}
h2{
  color: rgb(50, 53, 53);
  text-align: center;
  font-size: 35px;
}
p{
  color: aquamarine;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn3{
  display: flex;
  gap: 30px;
  justify-content: center;
  
  
  margin-bottom: 3%;
}
.skill-h2{
  
  font-size: 30px;
  text-align: left;
  margin: 20px;
  color: white;
  font-weight: 300;
  margin-left: 10%;
}

.bar{
  margin-left: 10%;
  height: 15px;
  background-color: blueviolet;
  width: 450px;
  border: 2px yellow solid;
  border-radius: 20px;
}

.bar1{
  margin-left: 10%;
  height: 15px;
  background-color:pink;
  width: 450px;
  border: 2px yellow solid;
  border-radius: 20px;
}
.bar2{
  margin-left: 10%;
  height: 15px;
  background-color:peru;
  width: 400px;
  border: 2px yellow solid;
  border-radius: 20px;
}
.bar3{
  margin-left: 10%;
  height: 15px;
  background-color: blue;
  width: 450px;
  border: 2px yellow solid;
  border-radius: 20px;
}
.bar4{
  margin-left: 10%;
  height: 15px;
  background-color: red;
  width: 450px;
  border: 2px yellow solid;
  border-radius: 20px;
}
.bar5{
  margin-left: 10%;
  height: 15px;
  background-color: crimson;
  width: 300px;
  border: 2px yellow solid;
  border-radius: 20px;
}
.project{
  display: flex;
  
  width: 100%;
}

.pro-h2{
  font-size: 35px;
  font-weight:400;
  text-align: left;
  margin-top: 20px;
  width: 30%;
  padding-left: 2%;

}

.pro-p{
  font-size: 20px;
  text-align: left;
  margin-right: 50px;
  color: white;
width: 70%;
padding-left: 0;
}

.main{
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 width: 100%;
  
}

.card{
  width: 25%;
  height: 550px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #ffc305;
  border-radius: 20px;
}

.img2{
  width: 94%;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid  #ffc305;
}

.contact-div{
  display: flex;
  align-items: center;
  justify-content: center;
  
  color:#ffc305;
  height: 400px;
  width: 400px;
  border: 10px;
  border-color:coral;
  padding-top: 10px;
  padding-left: 500px;
  
  gap: 10px;
}
.label{
  font-size: medium;
  font-style: normal;
  gap: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  
  
}

.label:hover{
  color:palevioletred
}
.button{
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: #c70039;
  font-size: larger;
  border-radius: 10%;
  font-family: 'Times New Roman', Times, serif;
  border: #ffc305 2px solid;
  margin-left: 100px;

}

.button:hover{
  color: blanchedalmond;
}

.textarea{
  width: 300px;
  background-color:white;
  margin-left: 100px;
}

.contact-div{
  margin-left: 15px;
  margin-right: 15px;

}

.contact-us{
  display: flex;
  justify-content: center;
  align-items: center;
  
  color:#ffc305;
  width: 450px;
  height: 100px;
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  
}

.card-p{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.card-h{
  color: #c70039;
  font-family: 'Times New Roman', Times, serif;
}
.tag1{
  background-color:rgb(21, 201, 21);
}

.tag2{
  background-color: magenta;
}

.tag3{
  background-color: orangered;
}

.tag4{
  background-color: yellow;
}
.tag5{
  background-color: red;
}
.tag6{
  background-color: salmon;
}
.btn{
  font-family: 'Times New Roman', Times, serif;
}